{% extends 'maintenance/base.html' %}

{% block content %}
{% if messages %}
<div class="container mt-1 mb-2">
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">{{user.first_name}} {{user.last_name}}</p>
                      <p class="card-title">{{ single_profil.licensenumber }}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                    <span class="text-success"><i class="fa fa-bullseye" aria-hidden="true"></i> Last login: </span> {{user.last_login|date:'d/m/Y'}}
                </div>
              </div>
            </div>
          </div>
          <!-- -->
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="fa fa-calendar-o text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">His tasks</p>
                      <p class="card-title">{{ tasks_all|length }}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-graduation-cap"></i> {{single_profil.profile}}
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="container">
    <form method="GET">
    {% csrf_token %}
    <div class="row">
        <div class="col">
        <label>From</label><br>
        <input type="date" class="form-control" placeholder="From" name="from">
        </div>
        <div class="col">
        <label>To</label><br>
        <input type="date" class="form-control" placeholder="To" name="to">
        </div>
        <div class="col">
        <br>
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> search</button>
    </div>
    </div>
    </form>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title"> Tasks <a href="{% url 'printtasks' user.id %}" target="_blank" class="btn btn-primary float-right">Print</a></h5>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>
                          Date
                        </th>
                        <th>
                          Location
                        </th>
                        <th>
                          Type
                        </th>
                        <th>
                          Reg
                        </th>
                        <th>Type of maintenance</th>
                        <th>Privilege used</th>
                        <th>Task Type</th>
                        <th>Type of activity</th>
                        <th>ATA</th>
                        <th>Operation performed</th>
                        <th>Time Duration</th>
                        <th>Maintenance Record ref.</th>
                        <th>Remarks</th>
                      </thead>
                      <tbody>
                      {% for t in tasks %}
                        <tr>
                          <td>
                            {{t.date}}
                          </td>
                          <td>
                            {{t.location}}
                          </td>
                          <td>
                            {{t.actype}}
                          </td>
                          <td>
                            {{t.acregistration}}
                          </td>
                          <td>
                              {{t.typemaintenance}}
                          </td>
                          <td>
                              {{t.privilege}}
                          </td>
                          <td>
                              {% for tp in t.tasktype.all %}{{tp}}<br/>{% endfor %}
                          </td>
                          <td>
                              {% for ta in t.activitytype.all %}{{ta}}<br/>{% endfor %}
                          </td>
                          <td>
                              {{t.ata}}
                          </td>
                          <td>
                              {{t.operation}}
                          </td>
                          <td>
                              {{t.time}}
                          </td>
                          <td>
                              {{t.maintenanceref}}
                          </td>
                          <td>
                              {{t.remark}}
                          </td>
                        </tr>
                        {% empty %}
                          <div class="container my-auto">
                              <div class="card">
                                  <div class="card-body">
                                  <h3 class="text-success" style="justify-content:center;display: flex; align-items: center;"> No Task added after this search <q>{{ request.GET.q }}</q></h3>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
</div>
<nav aria-label="Page navigation example mt-2">
    <ul class="pagination justify-content-center">
    {% if tasks.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for t in page_range %}
    {% if tasks.number == t  %}
    <li class="page-item active"><a class="page-link" href="?page={{t}}">{{t}}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{t}}">{{t}}</a></li>
    {% endif %}
    {% endfor %}
    {% if tasks.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
    {% endif %}
    </ul>
</nav>
{% endblock content %}